priority -50

extends c

snippet tok "Token"
%token $0
endsnippet

snippet union "Union"
%union {
	$0
}
endsnippet

snippet type "Type"
%type $0
endsnippet

snippet provides "Code provide"
%code provides {
	$0
}
endsnippet

snippet code "Code"
%code {
	$0
}
endsnippet
